h1{
    color: red;
    text-align: center;
text-shadow: -1px 1px 3px black;
}
.para1 ,.para2{
    border: solid 5px black;
    padding: 10px;
    margin: 20px;
    font-style: italic;
    font-weight: bold;
}
